<% title("Admin Page") %>
<p>
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.name.titleize %>. |  <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %> </strong></p>
  
</p>
<% end %>
<div class="row">

<% @manufacturers.each do |m| %>
  <div class="col-m-2 offset-m-2"> 
    <%= image_tag(m.logo_url, class: "img-center", width: '80%') %>
  </div>
    <div class-"col-m-4">
      <h3><%= m.name%></h3>
      <p><strong>Contact:</strong> <%= m.contact %><br>
      <strong>Email:</strong> <%= m.contact_email %><br>
      <strong>Phone:</strong> <%= m.contact_phone %><br>
      <strong>website:</strong> <%= m.company_url %><br></p>
      <p> Composite is at <%= m.composite_url %>, logo <%= m.logo_url %></p>
    </div>
    <div class="row">
      <div class="col-m-5 offset-m-3">
        <div class="summary"><%= sanitize m.summary %>
        <p>Order: <%= m.sort_letter %></p>
        </div>
      </div>
       <p> <%= link_to 'Edit', edit_manufacturer_path(m) %> | <%= link_to "Delete", manufacturer_path(m), method: :delete, data: { confirm: 'Are you sure?'} %> </p><br><br>
    </div>
<% end %>
    <%= link_to "Add a new company", new_manufacturer_path %>
