<%= simple_form_for(@factory_contact) do |f| %>
  
  <div class="form-inputs">
  <%= f.input :first_contact %>
  <%= f.input :first_contact_email %>
  <%= f.input :first_contact_phone %>
  
  <%= f.collection_select(:manufacturer_id,  Manufacturer.all, :id, :name, prompt: true) %><br>
  <br>
    <%= f.button :submit %>
  </div>
<% end %>
