<p id="notice"><%= notice %></p>

<h1>Listing Factory Contacts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @factory_contacts.each do |factory_contact| %>
      <tr>
        <td><%= link_to 'Show', factory_contact %></td>
        <td><%= link_to 'Edit', edit_factory_contact_path(factory_contact) %></td>
        <td><%= link_to 'Destroy', factory_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Factory contact', new_factory_contact_path %>
