<% title("Home Page") %>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <h1><br>Helping professionals with their promotional and marketing needs</h1><br>
  </div>     
</div>

<div class="row">
  <div class="col-sm-4">
    <%= image_tag "http://goo.gl/gOCG6q?gdriveurl", class: "img-responsive" %>
    <h3>Peerless Umbrella</h3>
    <p> A full-service manufacturer of quality umbrellas, tents, folding chairs and more, this family-owned business has been a manufacturer of traditional, as well as fashion umbrellas for three generations. Today, Peerless is a leader in umbrella technology and the largest umbrella company in the promotional products industry. Peerless Umbrella has been the winner of the Counselor's Distributor Choice Award for nine years running, and earned an A rating on SAGE.</p>
    <strong><%= link_to "Go to Peerless Umbrella website", "http://peerlessumbrella.com", target: "_blank" %></strong>
  </div>
  <div class="col-sm-4">
    <%= image_tag "http://goo.gl/2zIqIp?gdriveurl", class: "img-responsive" %>
    <h3>Maple Ridge Farms</h3> 
      <p> Founded in 1979, Maple Ridge Farms is the largest company in America specializing in corporate food gift programs. We have built our business on one, fundamental principle: Your gifts should be recognized for their outstanding quality and exceptional flavor! We guarantee that every gift is one that you will be proud to give (and would be happy to receive).</p>

      <p>Our quality is quite simply the best. We ship on-time and have the best guarantee in the business. Maple Ridge Farms is a 5-star supplier with ASI, has been named Top Food Gift Company for 14 years in a row, and earned an A+ rating on SAGE</p>
      
      <strong><%= link_to "Maple Ridge Farms website", "http://www.mapleridge.com/", target: "_blank" %></strong>
  </div>
  <div class="col-sm-4">
    <%= image_tag "http://goo.gl/kXSLhO?gdriveurl", class: "img-responsive" %>
      <h3>GoodHope Bags </h3>
        <p>GoodHope Bags has more than 30 years experience bringing your ideas to life. A vast on-hand inventory and direct import from overseas give us two ways to serve our customer with innovative ideas. GoodHope Bags is committed to providing our customers with diverse products that meet the highest standards.</p><p>GoodHope Bags is a finalist in the bag category for Counselor's Distributor Choice Award for 2015.</p>
        <strong><%= link_to "Go to GoodHope website", "http://www.goodhopebags.com/", target: "_blank" %></strong>
  </div>
  </div>  <div class="row voffset30">
  <div class="col-sm-4">
    <%= image_tag "http://goo.gl/cmf1QU?gdriveurl", class: "img-responsive" %>
    <h3>Notes </h3> 
    <p> Notes, Inc. for Stik-Withit® repositionable adhesive products, all of them custom manufactured to their exacting specifications.  Manufacturing its products from scratch instead of simply imprinting stock items off the shelf is one way Notes, Inc. sets itself apart from other advertising specialty suppliers and what differentiates us from our competitors.  It allows us to say, without hesitation, “On time or Free!” </p><p>
    Notes Inc. is a top rated supplier in the promotional industry and earned an A rating on SAGE.</p>
    
    <strong><%= link_to "Go to Notes USA website", "http://notesincusa.com", target: "_blank" %></strong>
  </div>
  

<div class="col-sm-4">
    <%= image_tag "http://goo.gl/95m1nG?gdriveurl", class: "img-responsive" %>
    <h3>Wow Line</h3> 
      <p> With a 5-star rating on ASI and an A rating on Sage, we are proud of our efforts in serving our customers and supplying quality promotional items. But, it doesn’t stop there! We have expanded our printing operations to ensure faster service and more printing options. Our distributor partners demand first-class quality and service and we are committed to “Raising the Bar!” in 2015!</p>
      <p>Always the first place to look for FUN promotional items.</p></p>
      
      <strong><%= link_to "Go to Wow Line website", "http://www.wowline.com/", target: "_blank" %></strong>
  </div>
  <div class="col-sm-4">
    <%= image_tag "http://goo.gl/BuubfY?gdriveurl", class: "img-responsive" %>
      <h3>CFS Promotions</h3>
        <p>Supplier of innovative promotional products to the advertising specialty industry, CFS is dedicated to providing quality products and outstanding service at a competitive price.</p>
       <p>CFS' products are designed to achieve the brand's marketing objectives and ROI goals by appealing to a broad demographic spectrum and being structured to meet budget.</p><p>Now offering phone cases, power banks, wall chargers, rechargeable auto flashlights, USB auto chargers.</p><p>
       CFS Promo is a 5-star supplier with ASI, and has earned an A rating with SAGE. </p>
       
      <strong><%= link_to "Go to CFS website", "http://www.cfspromo.net/", target: "_blank" %></strong>
  </div>
</div>
  <div class="row voffset30">
  <div class="col-sm-4">
    <%= image_tag "http://goo.gl/OjyFDC?gdriveurl", class: "img-responsive" %>
    <h3>Cedar Crest Manufacturing</h3> 
      <p>Though new as a company, the managemnt and workforce at Cedar Crest Manufacturing have years of experience making promotional writing instruments. We value close partnerships with our customers and understand the need to provide the highest levels of customer service through ease of doing business, prompt order deliveries and unique, quality, safety-compliant products. Flash turnaround available.</p><p>
      Cedar Crest Mfg is a 5-star supplier with ASI, and has earned an A+ rating on SAGE.</p>
     <strong><%= link_to "Cedar Crest website", "http://www.cedarcrestmfg.com", target: "_blank" %></strong>
  </div>
  <div class="col-sm-4">
    <%= image_tag "http://goo.gl/ARf4wA?gdriveurl", class: "img-responsive" %>
    <h3>Kutmaster</h3> 
      <p> Kutmaster has been specializing in cutlery for more than 100 years. We have a large variety of knives which includes pocket knives, multitools, kitchen cutlery, flatware and even restaurant-style steak knives. We can laser engrave, electro etch or pad print on our products. Knives and Cutlery are great for giveaways, corporate gifts and incentive programs. There are many markets that buy knives as they are a promotion that last forever! </p><p>
      KutMaster has earned and A+ rating on SAGE.</p>
      
      <strong><%= link_to "Kutmaster website", "http://www.kutmasterpromo.com/", target: "_blank" %></strong>
  </div>

   <div class="col-sm-4">
    <%= image_tag "http://goo.gl/G5ZnEU?gdriveurl", class: "img-responsive" %>
    <h3>JAM Design Inc.</h3> 
      <p> JAM Design specializes in promotional items that last&mdash;they're metal. After 10 years in the business founder Marie Van De Mark is proud that her company exceeds customers' expectations in both product and performance. Items such as desk accessories, mementos and medallians can be custom crafted or selected from stock.</p><p>Small jobs, large jobs, the seemingly impossible challenge.
We handle every detail from conception to completion, and
hand-deliver it at a competitive price.</p>
      
      <strong><%= link_to "JAM Design website", "http://www.jamdesigninc.com/", target: "_blank" %></strong>
  </div>
  
</div>
  

  
  
  
</div>