<% title("Home Page") %>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <h1><br>Helping professionals with their promotional and marketing needs</h1><br>
  </div>     
</div>

<div class="row">
  <div class="col-sm-4">
    <%= image_tag "http://goo.gl/gOCG6q?gdriveurl", class: "img-responsive" %>
    <h3>Peerless Umbrella</h3>
    <p> A full-service manufacturer of quality umbrellas, tents, folding chairs and more, this family-owned business has been a manufacturer of traditional, as well as fashion umbrellas for three generations. Today, Peerless is a leader in umbrella technology and the largest umbrella company in the promotional products industry. </p>
    <strong><%= link_to "Go to Peerless Umbrella website", "http://peerlessumbrella.com", target: "_blank" %></strong>
  </div>
  <div class="col-sm-4">
    <%= image_tag "http://goo.gl/kXSLhO?gdriveurl", class: "img-responsive" %>
      <h3>GoodHope Bags </h3>
        <p>GoodHope Bags has more than 30 years experience bringing your ideas to life. A vast on-hand inventory and direct import from overseas give us two ways to serve our customer with innovative ideas. GoodHope Bags is committed to providing our customers with diverse products that meet the highest standards.</p>
        <strong><%= link_to "Go to GoodHope website", "http://www.goodhopebags.com/", target: "_blank" %></strong>
  </div>
  
  <div class="col-sm-4">
    <%= image_tag "http://goo.gl/BuubfY?gdriveurl", class: "img-responsive" %>
      <h3>CFS Promotions</h3>
        <p>Supplier of innovative promotional products to the advertising specialty industry, CFS is dedicated to providing quality products and outstanding service at a competitive price.</p>
       <p>CFS' products are designed to achieve the brand's marketing objectives and ROI goals by appealing to a broad demographic spectrum and being structured to meet the brand's budget</p>
      <strong><%= link_to "Go to CFS website", "http://www.cfspromo.net/", target: "_blank" %></strong>
  </div>
</div>
<div class="row voffset30">
<div class="col-sm-4">
    <%= image_tag "http://goo.gl/95m1nG?gdriveurl", class: "img-responsive" %>
    <h3>Wow Line</h3> 
      <p> With a 5-star rating on ASI and an A rating on Sage, we are proud of our efforts in serving our customers and supplying quality promotional items. But, it doesn’t stop there! We have expanded our printing operations to ensure faster service and more printing options. Our distributor partners demand first-class quality and service and we are committed to “Raising the Bar!” in 2015!</p>
      <p>Always the first place to look for FUN promotional items.</p></p>
      
      <strong><%= link_to "Go to Wow Line website", "http://www.wowline.com/", target: "_blank" %></strong>
  </div>
  <div class="col-sm-4">
    <%= image_tag "http://goo.gl/noCRsF?gdriveurl", class: "img-responsive" %>
    <h3>JAM Design Inc </h3> 
      <p> JAM Design brings imaginative, high-quality branded merchandise to the promotional products industry; anticipating needs and exceeding expectations in both product and performance. JAM Design's unique approach to design, commitment to quality, and dedication to hands-on manufacturing has guaranteed that your clientele has been rewarded with enduring keepsakes.</p>
      
      <strong><%= link_to "Go to JAM Design website", "http://www.jamdesigninc.com/", target: "_blank" %></strong>
  </div>
  <div class="col-sm-4">
    <%= image_tag "http://goo.gl/cmf1QU?gdriveurl", class: "img-responsive" %>
    <h3>Notes </h3> 
    <p> Notes, Inc. for Stik-Withit® repositionable adhesive products, all of them custom manufactured to their exacting specifications.  Manufacturing its products from scratch instead of simply imprinting stock items off the shelf is one way Notes, Inc. sets itself apart from other advertising specialty suppliers and what differentiates us from our competitors.  It allows us to say, without hesitation, “On time or Free!” </p>
    
    <strong><%= link_to "Go to Notes USA website", "http://notesincusa.com", target: "_blank" %></strong>
  </div>
</div>
  <div class="row voffset30">
<div class="col-sm-4">
    <%= image_tag "http://goo.gl/ARf4wA?gdriveurl", class: "img-responsive" %>
    <h3>Kutmaster</h3> 
      <p> Kutmaster has been specializing in cutlery for more than 100 years. We have a large variety of knives which includes pocket knives, multitools, kitchen cutlery, flatware and even restaurant-style steak knives. We can laser engrave, electro etch or pad print on our products. Knives and Cutlery are great for giveaways, corporate gifts and incentive programs. There are many markets that buy knives as they are a promotion that last forever! </p>
      
      <strong><%= link_to "Kutmaster website", "http://www.kutmasterpromo.com/", target: "_blank" %></strong>
  </div>

  <div class="col-sm-4 col-sm-offset-4">
    <%= image_tag "http://goo.gl/kL127Q?gdriveurl", class: "img-responsive" %>
      <h3> About Kateco </h3> 
      <p>Kate Connolly has made her career in the promotional marketing industry since 1995 and has initiated Kateco Marketing Group to represent some of the finest manufacturers in the field.</p>

<p>Kate is service minded, has lots of product knowledge and a "let's get it done" attitude. When she's not hard at work she's hard at play with her husband, Scott, and their daughter, Destin, loving life in Seattle.
         </p>
        
  </div>
</div>