<% title("Contact us") %>
<div class="row">
  <div class="col-s-8 offset-s-2 text-center">
  
    <h2>Send us an email</h2>
    <%= simple_form_for @contact, :html => {:class => 'form-horizontal'} do |f| %>
      <%= f.input :name, :required => true %>
      <%= f.input :email, :required => true %>
      <%= f.input :message, :as => :text, :required => false, :input_html => {:rows => 10} %>
      <div class="hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      </div>
      <div class="form-actions">
      <%= f.button :submit, 'Send message', :class => "btn btn-primary" %>
      </div>
    <% end %>
      <br>
    <h3> Call Kate at 425.412.0825
    </h3><br>
    <p><strong><%= link_to "<<Back to Home page", home_path %></strong></p>
  </div>
  </div>


