<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <%= image_tag m.logo_url, width: "250", class: "image-center" %>
  </div> 
  <div class="modal-title">
    <h2><%= link_to "#{m.name} Website", m.company_url, target: "blank" %></h2>
  </div>  
  <div class="modal-body">
    <h3>Your contact: <%= m.contact %><br>
      Email: <%= m.contact_email %><br>
      Phone: <%= m.contact_phone %></h3>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
  </div>
</div>
  