<div class="modal">
  <div class="alert alert-dismissable" role="alert">
  <div class="modal-content">
    <%= image_tag m.logo_url, width: "250", class: "image-center" %>
  
    <h2><%= link_to "#{m.name} Website", m.company_url, target: "blank" %></h2>
   
  
    <h3>Your contact: <%= m.contact %><br>
      Email: <%= m.contact_email %><br>
      Phone: <%= m.contact_phone %></h3>
  </div>
  </div>
</div>
