<% title("Home Page") %>

<div class="row">
  <div class="col-lg-12 text-center">
    <h1>Helping professionals with their<br> promotional and marketing needs<br><br></h1>
  </div>     
</div>

<div class="clearall"></div>

<div class="block-row-m-4">
  <% @manufacturers.each do |m| %>
    <div class="col-m-3" id="showcase"><br>
      <%= image_tag(m.logo_url, class: "img-center", width: '80%') %><br>
      <%= image_tag(m.composite_url, width: '100%') %>
    </div>
    <div class="col-m-3" id="showcase">
      <h2><%= m.name %></h2>
        <%= sanitize m.summary %>
        <p class="link"> <%= link_to 'Your Contacts', manufacturer_path(m) %></p>
     </div>
  <% end %>
  </div>
<div class="clearall"></div>