<div class="row">
  <div class="col-m-4 offset-m-4">
    <div class="alert alert-dismissable" role="alert">
      
    <%= image_tag @manufacturer.logo_url, width: "250", class: "img-center" %>
  
    <h2 class="center-text"><%= link_to "Go to the #{@manufacturer.name} Website", @manufacturer.company_url, target: "blank" %></h2>
  
    <h3 class="center-text">Your contact: <%= @manufacturer.contact %><br>
      Email: <%= @manufacturer.contact_email %><br>
      Phone: <%= @manufacturer.contact_phone %></h3>
    </div>
  </div>
</div>  
<div class="center-text">
<%= link_to "<<Home page", home_path %></div>