<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= @title || "Kateco" %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <meta name="google-site-verification" content="FKZjoLcPXo7UAFGevNN6dQWAXHaNXgykNTtdxQ_2fY0" />
</head>
<body>
<div class="page">
  <div class="container-fluid">
    <div class="row-fluid">
    <%= render 'layouts/header' %>
    </div>
    <%= render 'layouts/nav' %>
  <%= yield %>
  <%= render 'layouts/footer' %>    
  </div>
</div>
</body>
</html>
